{% extends 'base.html' %}

{% block content %}

{% load static %}


<h1>календарна таблиця3</h1>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
    <!-- Custom styles for this template -->
<link href="{% static 'mainapp/for_cal.css'%}" rel="stylesheet">
<body>

<p style="background-color:tomato;">Тицни на день та передивись попередньо додані записи та фото з подальшою можливістю зберегти! </p>

<table style="width: 100%;">
<colgroup>
  <col span="2" style="background-color: #D6EEEE">
</colgroup>
<tr>
<th>MON</th>
<th>TUE</th>
<th>WED</th>
<th>THU</th>
<th>FRI</th>
<th>SAT</th>
<th>SUN</th>
</tr>
<tr>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
</tr>
<tr>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
</tr>
<tr>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
</tr>
<tr>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
</tr>
</table>

<button type="button">Отримати статистику !</button>
</body>
</html>


{% for answer in user_answers  %}
    <p>{{ answer.user }}</p>
    <p>{{ answer.survey }}</p>
    <p>{{ answer.answer_choice }}</p>
    <p>{{ answer.answered_at }}</p>
    <p>{{ answer.date }}</p>
    <hr>
{% endfor %}

{% for post in user_personal_post  %}
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
    <p>{{ post.poster }}</p>
    <p>{{ post.published_date }}</p>

    <hr>
{% endfor %}


{% for photo in gallery_photo %}
<img src="{{ photo.image.url }}" alt="{{ photo.description }}" width="500" >

{% endfor %}

{% endblock %}