{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="survey-container">
  <p><a href="{% url 'mainapp:survey_history' %}">{% trans "переглянути свою історію відповідей на питування" %}</a></p>

  <h1>{% trans "перевірити свій стан!" %}</h1>

    <p class="survey-intro">
  {% trans "це коротке опитування допоможе краще зрозуміти твій стан, вибери одну відповідь на кожне запитання" %}
</p>

  {% if error %}
      <p class="error">{{ error }}</p>
  {% endif %}

  <form method="POST">
      {% csrf_token %}

      {% for survey in surveys %}
          <div class="question-block">
            <h3>{{ survey.question }}</h3>

            {% for answer in survey.answers.all %}
                <label class="radio-option" for="ans_{{ answer.id }}">
                <input type="radio" id="ans_{{ answer.id }}" name="survey_{{ survey.id }}" value="{{ answer.id }}" required>
                {{ answer.choice_text }}
                </label>
            {% endfor %}
          </div>

      {% endfor %}

      <button type="submit" class="submit-button">{% trans "зберегти відповіді" %}</button>
  </form>
</div>

{% endblock %}


