{% extends 'base.html' %}

{% load static %}
{% block content %}

<link href="{% static 'mainapp/new_check.css'%}" rel="stylesheet">
<h1>Перевірити свій стан!</h1>
<p style="background-color:tomato;">Опитування</p>


{% for survey in surveys %}
    <h3>{{ survey.question }}</h3>
    <form method="POST">
        {% csrf_token %}
        {% for answer in survey.answers.all %}
            <label>
                <input type="radio" name="survey_{{ survey.id }}" value="{{ answer.id }}">
                {{ answer.choice_text }}
            </label><br>
        {% endfor %}
        <button type="submit">Відправити</button>
    </form>
{% endfor %}



{% endblock %}

