{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<link href="{% static 'mainapp/new_check.css'%}" rel="stylesheet">

<p><a href="{% url 'mainapp:survey_history' %}">{% trans "Переглянути свою історію відповідей на питування" %}</a></p>

<h1>{% trans "Перевірити свій стан!" %}</h1>
<p style="background-color:tomato;">{% trans "Опитування" %}</p>


{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    {% for survey in surveys %}
        <div style="margin-bottom: 20px;">
            <h3>{{ survey.question }}</h3>

            {% for answer in survey.answers.all %}
                <label>
                    <input type="radio" name="survey_{{ survey.id }}" value="{{ answer.id }}" required>
                    {{ answer.choice_text }}
                </label><br>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit">{% trans "Зберегти відповіді" %}</button>
</form>


{% endblock %}

