{% extends 'base.html' %}

{% block content %}

        <p style="background-color:Magenta">ДОДАТИ ФОТО або картинку, яка відповідає настрою ! :</p>
<div class="container">
    <hr>
      <hr>
      <hr>
     <form action="{% url 'mainapp:image_uploads' %}"  method="post"  enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
<!--            <input type="file" name="smth" >-->
            <button type="submit"  style="background-color:MediumSeaGreen">Завантажити зображення</button>
        </form>
</div>

{% endblock %}
