{% extends 'base.html' %}

{% load static %}
{% block content %}
<h2>Створити пост</h2>

<form action="{% url 'mainapp:lib_user_post' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
        <div style="color: red;">
            <strong>Помилки:</strong>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <input type="submit" value="Створити">
</form>
{% endblock %}