{% extends 'base.html' %}

{% block content %}

{% load static %}

<link href="{% static 'mainapp/for_lib.css'%}" rel="stylesheet">



<hr>
<div class="row">
    <div class="col-nd-4">
        <div class="well">
        <h4>ПОШУК по бібліотеці</h4>
            <form class="input-group" method="GET" action="{% url 'mainapp:search' %}">
                <input class="form-control" type="search" name="query">
                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search">шукати</span>
                                    </button>
                </span>
            </form>
        </div>
    </div>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<h2>Категорії</h2>
<ul>
      {% for category in categories %}
            <li>
              <a href="{% url 'mainapp:library_posts_by_category' slug=category.slug %}">
                {{ category.name }}
              </a>
            </li>
      {% endfor %}
</ul>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

{% if selected_category %}
    <p>Пости в категорії(написані користувачем): "{{selected_category.name}}"</p>
        {% if posts %}
            {% for post in posts %}
            <p> class="page-header"><a >{{post.title}} </a></p>
            <p> {{ post.content }} </p>
            <li>{{ post.published_date }} </li>
            <li>{{ post.user }} </li>
            <li><img class="img-responsive" src="{{ post.poster.url }}" alt=""></li>
            {% endfor %}
        {% else %}
            <p>У цій категорії ще немає постів.</p>
        {% endif %}
{% else %}
  <p>Оберіть категорію, щоб побачити пости.</p>
{% endif %}
<hr>
<hr>
<hr>
<hr>

<h2>Результати пошуку по записам користувача :</h2>
{% for post in post_blog_list %}
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
{% empty %}
    <p>Нічого не знайдено !</p>
{% endfor %}

<h2>Результати пошуку по бібліотеці(з адмінпанелі):</h2>
{% for lib in my_posts_list %}
    <p>{{ post.title }}</p>
    <p>{{ lib.content }}</p>
{% empty %}
    <p>Нічого не знайдено !</p>
{% endfor %}

<hr>
<hr>

<p>СТВОРИТИ ЗАПИС В БІБЛІОТЕКУ, ЦІКАВОЇ ІНФОРМАЦІЇ ЯКУ ДЕСЬ ЗНАЙШЛА І ХОЧЕШ СОБІ ЗАФІКСУВАТИ </p>
<form action="{% url 'mainapp:create' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Створити" class="btn btn-default">
</form>


{% endblock content %}