{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% load static %}

<link href="{% static 'mainapp/for_lib.css'%}" rel="stylesheet">



<hr>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h4 class="mb-3">{% trans "Пошук по бібліотеці" %}</h4>
    <form method="GET" action="{% url 'mainapp:search' %}" class="input-group mb-4">
      <input
        type="search"
        name="query"
        class="form-control"
        placeholder="{% trans 'Введіть ключове слово...' %}"
        value="{{ query|default:'' }}"
        aria-label="{% trans 'Пошук' %}"
      >
      <button class="btn btn-primary" type="submit">
        {% trans "Шукати" %}
      </button>
    </form>

    {% if query == "" %}
      <div class="alert alert-warning" role="alert">
        {% trans "Ви не ввели ключове слово для пошуку." %}
      </div>
    {% endif %}
  </div>
</div>

<hr>
<hr>
<hr>

<hr>
<h2>{% trans "Категорії" %}</h2>
<ul>
      {% for category in categories %}
            <li>
              <a href="{% url 'mainapp:library_posts_by_category' slug=category.slug %}">
                {{ category.name }}
              </a>
            </li>
      {% endfor %}
</ul>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
# результат пошуку по категоріям
{% if selected_category %}
    <p>{% trans "Пости в категорії(написані користувачем):" %} "{{selected_category.name}}"</p>
        {% if posts %}
            {% for post in posts %}
            <p class="page-header"> <a>{{post.title}} </a></p>
            <p> {{ post.content }} </p>

            {% endfor %}
        {% else %}
            <p>{% trans "У цій категорії ще немає постів." %}</p>
        {% endif %}
{% else %}
  <p>{% trans "Оберіть категорію, щоб побачити пости." %}</p>
{% endif %}
<hr>
<hr>
<hr>
<hr>

# результат пошуку по слову
{% if query %}
    <h2>{% trans "Результати пошуку по записах користувача:" %}</h2>
    {% for post in post_blog_list %}
        <div class="search-result">
            <p><strong>{{ post.title }}</strong></p>
            <p>{{ post.content }}</p>
        </div>
    {% empty %}
        <p>{% trans "Нічого не знайдено!" %}</p>
    {% endfor %}

    <h2>{% trans "Результати пошуку по бібліотеці (з адмінпанелі):" %}</h2>
    {% for lib in my_posts_list %}
        <div class="search-result">
            <p><strong>{{ lib.title }}</strong></p>
            <p>{{ lib.content }}</p>
        </div>
    {% empty %}
        <p>{% trans "Нічого не знайдено!" %}</p>
    {% endfor %}
{% endif %}


<hr>
<hr>

<p>{% trans "СТВОРИТИ ЗАПИС В БІБЛІОТЕКУ, ЦІКАВОЇ ІНФОРМАЦІЇ ЯКУ ДЕСЬ ЗНАЙШЛА І ХОЧЕШ СОБІ ЗАФІКСУВАТИ" %}</p>
<form action="{% url 'mainapp:create' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value=" {% trans 'Створити' %}" class="btn btn-default">
</form>


{% endblock content %}