{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}<h2>{% trans "Моя історія відповідей" %}</h2>


{% if history %}
    {% for date, answers in history.items %}
        <h3>{{ date }}</h3>
        <ul>
            {% for answer in answers %}
                <li><strong>{{ answer.survey.question }}</strong>: {{ answer.answer_choice.choice_text }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>{% trans "Ви ще не проходили жодне опитування." %}</p>
{% endif %}
{% endblock %}