Django
requests
pillow
python-dateutil
psycopg2-binary
moviepy
django-modeltranslation
channels>=4.0
aiohttp
uvicorn[standard]
watchgod
pytest
pytest-django
pytest-asyncio
aresponses
ruff
black
daphne
watchgod