{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container my-4">

    {% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        {% for key, value in user_form.errors.items %}
        <strong>{{ value }}</strong><br>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" class="card p-3 mb-4">
        {% csrf_token %}
        <input type="hidden" name="action" value="update_email">
        <h5 class="card-title mb-3">{% trans "оновити електронну пошту" %}</h5>
        <div class="form-group mb-3">
            {{ user_form.email }}
        </div>
        <button type="submit" class="btn btn-dark">{% trans "оновити" %}</button>
    </form>

    <hr><hr>
    <div class="text-center mt-4">
        <a href="{% url 'users:password_change' %}" class="btn btn-primary">{% trans "оновити пароль" %}</a>
    </div>

</div>
{% endblock content %}
