{% load i18n %}
<nav class="main-navbar">

  <div class="navbar-left">
    <ul class="navbar-menu">
      {% if request.user.is_authenticated %}
        <li class="navbar-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <a class="navbar-link" href="{% url 'mainapp:chat_page' %}">{% trans "чат" %}</a>
        </li>
        <li class="navbar-item {% if request.resolver_match.url_name == 'calendar_combined' %}active{% endif %}">
          <a class="navbar-link" href="{% url 'mainapp:calendar_combined' %}">{% trans "календар" %}</a>
        </li>
        
        <li class="navbar-item {% if request.resolver_match.url_name == 'checkme' %}active{% endif %}">
          <a class="navbar-link" href="{% url 'mainapp:checkme' %}">{% trans "чекап" %}</a>
        </li>
        <li class="navbar-item {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}">
          <a class="navbar-link" href="{% url 'gallery:gallery' %}">{% trans "галерея" %}</a>
        </li>
        <li class="navbar-item {% if request.resolver_match.url_name == 'daily_post' %}active{% endif %}">
          <a class="navbar-link" href="{% url 'mainapp:post_history' %}">{% trans "щоденник" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="navbar-right">
  {% if request.user.is_authenticated %}
    <span class="navbar-user">{% trans "вітаю" %}, {{ request.user|title }}</span>
    <a href="{% url 'mainapp:index' %}"
       style="margin:0 5px;color:inherit;text-decoration:none;">
       {% trans "MindSpace" %}
    </a>
    <button id="theme-toggle" 
            style="background:none;border:none;padding:0;margin:0 5px;cursor:pointer;font:inherit;color:inherit;">
      🌙
    </button>
    
    <form action="{% url 'set_language' %}" method="post" style="display:inline;">
      {% csrf_token %}
      <select name="language" onchange="this.form.submit()" 
              style="background:none;border:none;padding:0;margin:0 5px;font:inherit;color:inherit;appearance:none;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;">
        <option value="uk" {% if LANGUAGE_CODE == "uk" %}selected{% endif %}>🇺🇦</option>
        <option value="en-gb" {% if LANGUAGE_CODE == "en-gb" %}selected{% endif %}>🇬🇧</option>
      </select>
    </form>
    
    <a href="{% url 'users:users_profile' %}" 
       style="margin:0 5px;color:inherit;text-decoration:none;">{% trans "профіль" %}</a>
       
    <a href="{% url 'users:logout' %}" 
       style="margin:0 5px;color:inherit;text-decoration:none;">{% trans "вийти" %}</a>
  {% else %}
    <a href="{% url 'users:login' %}" 
       style="margin:0 5px;color:inherit;text-decoration:none;">{% trans "увійти" %}</a>
    <a href="{% url 'users:register' %}" 
       style="margin:0 5px;color:inherit;text-decoration:none;">{% trans "зареєструватись" %}</a>
  {% endif %}
</div>


</nav>
