/* === КАРТКИ ПОСТІВ === */
.post-card {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: none;
  color: var(--post-card-text);
}
.post-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.post-content {
  margin-bottom: 6px;
  white-space: pre-line;
}
.post-date {
  font-size: 0.85rem;
  color: var(--post-date-color);
}
